/*
 * Icon by WORAWALUNS: https://dribbble.com/worawaluns
 * downloaded from IconStore and adjusted
 */
.icon-install {
  background: url("icon-install-tool.svg") left center no-repeat;
  background-size: 18px;
}

.header_install {
  background: url("../../../themes/flexible/images/modules.gif");
  padding: 2px 0 3px 20px;
  background-position: left center;
  background-repeat: no-repeat;
  margin-left: 15px;
}

.be_ID_container {
  float: right;
  color: #999;
  padding-left: 3px;
  font-weight: 300 !important;
}
