/*
 * Icon by WORAWALUNS: https://dribbble.com/worawaluns
 * downloaded from IconStore and adjusted
 */
.icon-install {
  background: url("icon-install-tool.svg") left center no-repeat;
  background-size: 18px;
}

.header_install {
  background: url("../../../themes/flexible/images/install.gif");
  background-size: 18px;
  padding: 2px 0 3px 20px;
  background-position: left center;
  background-repeat: no-repeat;
  margin-left: 15px;
}

.be_ID_container {
  color: #999;
  padding-left: 10px;
  font-weight: 300 !important;
}

.module_usage .tl_show th {
  padding: 6px;
}
